@import "../../styles/mixins.scss";
@import "../../styles/paleta.scss";

/*Button View Styles*/
.btn
{
	outline: none;
	border: 1px solid $Yellow;
	@include useFontNormal();
	font-weight: bold;
	background-color: $Blue;
	color:white;
	padding: 0.3rem 0.5rem;
	border-radius: 6px;
	font-size: 1.1rem;

	&:hover
	{
		background-color:lighten($color: $Blue, $amount: 20%);
		border: 1px solid $Green;
	}

	&:disabled
	{
		background-color: gray;
		border: 1px solid $Yellow;

	}
}

