@import "../../styles/paleta.scss";
/*NavHeader View Styles*/

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	background-color: $Blue;
	height: 3.3rem;
	padding: 0.5rem;
	box-sizing: border-box;
}

.headerPart
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;

	& img {
		height: 2rem;
		margin-right: 0.8rem;
	}

	& span {
		font-weight: 700;
		font-size: 1.3rem;
		color: white;
	}
}

.navPart
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 0.8rem;

	& > *
	{
		margin-right: 1.6rem;
	}

	& >*:last-child
	{
		margin-right: 0;
	}
}

.darkreader
{
	display: flex;
	justify-content: center;
	align-items: center;

	& label
	{
		color:white;
		margin-left: 0.4rem;
	}
}
